body {
    font-family: Arial;
    font-size: 11pt;
}

h1, h2, h3, h4 {
    page-break-after:avoid;
}
/*p {
    line-height: 115%;
}*/

p.normal {
    margin: 0cm;
    line-height: 115%;
}

/*div {
    font-family: Arial;
    color: black;
}

td {
    font-family: Arial;
    color: black;
}*/

.page-breaks {
    page-break-before: always;
    page-break-after: always;
}

.page-breakBefore {
    page-break-before: always;
}

.page-breakAfter {
    page-break-after: always;
}

.page-noBreak {
    page-break-before: avoid;
    page-break-after: avoid;
}

h2.ueb2 {
	font-size: 14pt;
}

h2.ueb3 {
    font-size: 12pt;
}

ul.part {
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*.toc {
    page-break-before: always;
    page-break-after: always;
}*/

.toc_Point {
    display: flex;
    margin: 0cm;
    line-height: 170%;
}

.abbreviations_Point {
    display: flex;
    margin: 0cm;
    line-height: 130%;
}

.abbreviations_Point .item,
.abbreviations_Point .longText {
    flex: 1 0 auto;
}

.toc_Point .item,
.toc_Point .pageNo {
    flex: 1 0 auto;
}
.toc_Point .dots {
    flex: 0 1 auto;
    /*Allows too long content to be hidden.*/
    overflow: hidden;
    padding: 0 4px;
}

.toc_Point .depth-0 {
    padding-left: 0px
}
    
.toc_Point .depth-1 {
    padding-left: 32px
}

.toc_Point .depth-2 {
    padding-left: 64px
}

.toc_Point .depth-3 {
    padding-left: 96px
}

.toc_Point .depth-4 {
    padding-left: 128px
}

.toc_Point .depth-5 {
    padding-left: 160px
}

.toc_Point .depth-6 {
    padding-left: 192px
}

.toc_Point .depth-7 {
    padding-left: 224px
}

.abbreviations_Point .dots {
    flex: 0 1 auto;
    /*Allows too long content to be hidden.*/
    overflow: hidden;
    padding: 0 4px;
}

.dots::before {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    content: 
    "......................................."
    "......................................."
    "......................................."
    "......................................."
    "......................................."
}

/*div.question {
    font-size: 10pt;
    //width: 100%;
    width: 17.8cm;
    border: 1px solid black;
    border-collapse: collapse;
    line-height: 100%;
    background-color: #F2F2F2;
    padding-left: 1.5em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    display: inline-block;
}

div.answer {
    font-size: 10pt;
    width: 17.8cm;
    border: 1px solid black;
    line-height: 100%;
    padding-left: 1.5em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.recommendation {
    font-size: 10pt;
    width: 17.8cm;
    border: 1px solid black;
    line-height: 100%;
    padding-left: 1.5em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}*/

.mbac-opinion-detail {
    text-align: justify;
    box-decoration-break: clone;
}


.mbac-item-type-heading.depth-0 > .mbac-title {
    font-size: 14pt;
}

.mbac-item-type-heading.depth-1 > .mbac-title {
    font-size: 14pt;
}

.mbac-item-type-heading.depth-2 > .mbac-title {
    font-size: 12pt;
}

.mbac-item-type-heading > .mbac-title {
    font-weight: bold;
}

.mbac-item-type-heading > .mbac-text {
    padding-bottom: 1em;
}

.mbac-item-type-question {
    font-size: 10pt;
    width: 17.8cm;
    /*border: 1px solid;*/
    /*border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;*/
    /*border: 1px solid;*/
    /*-webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    display: inline-block;*/
    padding-bottom: 1em;
}

.mbac-item-type-question > .mbac-title {
    font-weight: bold;
    background-color: #F2F2F2;
    /*padding: 1em;*/
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.mbac-item-type-question > .mbac-text {
    border-bottom: 1px solid;
    background-color: #F2F2F2;
    padding-left: 1em;
    padding-right: 1em;
}

.mbac-item-type-question p {
    margin: 0cm;
}

.mbac-item-type-text {
    padding-bottom: 1em;
}

.mbac-item-type-question .mbac-item-type-text {
    border-bottom: 1px solid;
    padding-top: 1em;
    padding-bottom: 1em;
}

.mbac-item-type-answer {
    border-bottom: 1px solid;
}

.mbac-item-type-answer > .mbac-title {
    text-decoration: underline;
    padding-top: 1em;
    padding-left: 1.5em;
    padding-right: 1em;
}

.mbac-item-type-answer > .mbac-text {
    padding-top: 1em;
    padding-left: 1.5em;
    padding-right: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid;
}

.mbac-item-type-question .mbac-action-title {
    text-decoration: underline;
    padding-top: 1em;
}

.mbac-item-type-question .mbac-handlungsempfehlung {
    /*border-top: 1px solid;
    border-bottom: 1px solid;*/
    padding-left: 1.5em;
    padding-right: 1em;
}

.mbac-item-type-question .mbac-action-text {
    padding-top: 1em;
}

.mbac-item-type-question .mbac-handlungsempfehlung .mbac-action-longtext {
    padding-bottom: 1em;
}

.mbac-item-type-question .mbac-handlungsempfehlung.adhoc > .mbac-action-longtext {
    color: red;
}

.mbac-item-type-question .mbac-handlungsempfehlung.kurz > .mbac-action-longtext {
    color: orange;
}

.mbac-item-type-question .mbac-handlungsempfehlung.mittel > .mbac-action-longtext {
    color: rgba(191, 191, 23, 1);
}

.mbac-item-type-question .mbac-handlungsempfehlung.verbesserung > .mbac-action-longtext {
    color: green;
}

.mbac-item-type-question .mbac-handlungsempfehlung.okay > .mbac-action-longtext {
    color: #999;
    /*display: none;*/
}

.mbac-item-type-question .mbac-text {
    padding-top: 1em;
}

.mbac-item-type-hint > .mbac-fix-title,
.mbac-item-type-info > .mbac-fix-title,
.mbac-item-type-recommendation > .mbac-fix-title,
.mbac-item-type-remark > .mbac-fix-title {
    padding-top: 1em;
    font-weight: bold;
    /*float: left;*/
    margin-right: 1em;
}

/*.mbac-item-type-hint > .mbac-print-title {
    
}*/

.mbac-item-type-question .mbac-item-type-hint,
.mbac-item-type-question .mbac-item-type-info,
.mbac-item-type-question .mbac-item-type-important,
.mbac-item-type-question .mbac-item-type-recommendation,
.mbac-item-type-question .mbac-item-type-remark {
    border-bottom: 1px solid;
    padding-left: 1.5em;
    padding-right: 1em;
}

/*.mbac-item-type-question .mbac-item-type-info {
    border-bottom: 1px solid;
    padding-left: 1.5em;
    padding-right: 1em;
}*/

.mbac-item-type-important .mbac-fix-title {
    padding-top: 1em;
    color: red;
    font-style: italic;
    font-weight: bold;
    margin-right: 1em;
}

.mbac-item-type-important .mbac-print-title {
    display: none;
}

table.mbac-item-type-bestimmungen {
    /*width: 17.8cm;*/
    border-collapse: collapse;
}

.mbac-item-type-bestimmungen thead {
    color: #fff;
    background-color: orange;
}

.mbac-item-type-bestimmungen td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    width: 17.8cm;
}

.mbac-item-type-question .mbac-item-type-bestimmungen {
    margin: 2em;
}

.mbac-text {
    font-weight: normal;
    padding-bottom: 1em;
}

.mbac-position.mbac-media-screen {
    visibility: hidden;
}
